.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.collections{
    display: grid;
    margin: 50px 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
