.but{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.but button{
    height: 40px;
    width: 150px;
    background: #333;
    color: #fff;
    border-style: none;
    border-radius: 10px;
}
.pageone-button{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}