.forgot-pwd{
    height: 300px;
    width: 450px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 8px 0px, rgba(14, 30, 37, 0.32) 0px 4px 24px 0px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 200px;
}
.fgpwd-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.fgpwd-inputs input{
    height: 45px;
    margin-top: 10px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    border-style: none;
    border: 2px solid #c2c2c2;
    font-family: 'Poppins';
}
.fgpwd-button{
    display: flex;
    justify-content: center;
}
.fgpwd-button button{
    height: 40px;
    background: #333;
    color: #fff;
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    font-family: 'Poppins';
    width: 150px;
}