.app-main p{
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 0.1;
}
.app-main h1{
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: 500;
}
.App{
    margin-top: 300px;
}
.app-button{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.app-button button{
    height: 40px;
    width: 120px;
    font-family: 'Poppins';
}
.app-button-login button{
    background: #333;
    cursor: pointer;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    font-size: 14px;
}
.app-button-signup button{
    background: #fff;
    cursor: pointer;
    color: #333;
    border-style: none;
    border: 2px solid #7d7d7d;
    border-radius: 10px;
    font-size: 14px;
}