body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    box-shadow: 0 1px 3px -px black;
}

.nav-elements{
    display: flex;
    gap: 50px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    color: #333;
    font-weight: 500;
    position: relative;
  }

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
  }

.menu-icon {
    display: none;
}

.nav-logo p{
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
    font-size: 18px;
    color: #3C3C3C;
    font-weight: 400;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu li.active {
    border-bottom: 2.5px solid #333333;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-login-cart button{
    background: #c0c0c0;
    height: 40px;
    width: 100px;
    border-style: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.nav-login-cart img{
    height: 30px;
    cursor: pointer;
}
.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -45px;
    border-radius: 11px;
    background: #A2A2A2;
    color: #333333;
    font-weight: 600;
}


@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }

    .nav-menu{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 14px;
        font-size: 18px;
        color: #3C3C3C;
        font-weight: 400;
    }

    .nav-elements{
        display: flex;
        gap: 30px;
    }

    .nav-logo p{
        font-size: 24px;
        font-weight: 700;
        color: #333333;
    }

    .nav-elements ul a {
        font-size: 14px;
        font-weight: 400;
        color: #333;
        text-decoration: none;
      }

      .nav-login-cart{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-login-cart button{
        background: #c0c0c0;
        height: 30px;
        width: 80px;
        border-style: none;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
    .nav-login-cart img{
        height: 25px;
        cursor: pointer;
    }

    .nav-cart-count{
        width: 15px;
        height: 15px;
        display: flex;
        font-size: 9px;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
        margin-left: -40px;
        border-radius: 11px;
        background: #A2A2A2;
        color: #333333;
        font-weight: 600;
    }

  }
  
  @media (max-width: 600px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .nav-login-cart{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .nav-elements {
      position: absolute;
      top: 60px;
      background-color: #444444;
      width: 0px;
      height: calc(100vh - 63vh);
      transition: all 0.3s ease-in;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .nav-cart-count{
        width: 17px;
        height: 17px;
        display: flex;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        margin-top: -65px;
        margin-left: -15px;
        border-radius: 11px;
        background: #A2A2A2;
        color: #333333;
        font-weight: 600;
    }

    .nav-elements.active {
      width: 100%;
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }
  
    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;
    }
  }


  .profile-dropdown {
    position: relative;
}
.profile-dropdown:hover .dropdown-content {
  display: block;
}